body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

path {
  fill-opacity: 0.1;
  stroke-opacity: 1;
}

.tooltip {
  position: absolute;
  top: 0;
  text-align: center;

  padding: 10px;
  font: 20px sans-serif;
  background: rgb(0, 0, 0);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: #fff;

  margin-top: 130px;
  margin-left: 20px;
}

.pedro p {
  font-size: 14px;
  margin: 6px;
}

.pedro h4 {
  font-size: 20px;
  margin: 10px;
}